.tag {
    position: absolute;
    padding: 10px 25px 10px 10px;
    color: white;
}
.tag-green {
    background-color: $green;
}
.tag-orange {
    background-color: $orange;
}
.tag-light-brown {
    background-color: $light-brown;
}