$green: #8DC63F !default;
$orange: #F7941E !default;
$brown: #594a42 !default;
$dark-brown: #414042 !default;
$tan: #e7e1d7 !default;
$light-brown: #C49A6C !default;
$text-color: $dark-brown !default;
$link-color: $green !default;
$primary-mask-color: $orange !default;
$background-primary: $orange !default;
$background-secondary: $light-brown !default;
$background-tertiary: $green !default;
$background-quaternary: $brown !default;
$background-quinary: $tan !default;
